<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
    <ProjectComp msg="Project Component"/>
  </div>
</template>

<script>
// @ is an alias to /src
import ProjectComp from '@/components/ProjectComp.vue'

export default {
  name: 'Project',
  components: {
    ProjectComp
  }
}
</script>
