<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <form @submit.prevent="submitForm">
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <input
            type="text"
            name="name"
            class="form-control"
            :class="errors.hasOwnProperty('name') ? 'is-invalid': ''"
            placeholder="Name"
            v-model="student.name"
          />
          <div class="invalid-feedback">{{ errors.name }}</div>
        </div>
        <div class="col-md-3 mb-3">
          <input
            type="text"
            name="cource"
            class="form-control"
            :class="errors.hasOwnProperty('cource') ? 'is-invalid': ''"
            placeholder="Cource"
            v-model="student.cource"
          />
          <div class="invalid-feedback">{{ errors.cource }}</div>
        </div>
        <div class="col-md-3 mb-3">
          <input
            type="text"
            name="raiting"
            class="form-control"
            :class="errors.hasOwnProperty('raiting') ? 'is-invalid': ''"
            placeholder="Raiting"
            v-model="student.raiting"
          />
          <div class="invalid-feedback">{{ errors.raiting }}</div>
        </div>
        <div class="col-md-3 mb-3">
          <button button class="btn btn-success">Submit</button>
        </div>
      </div>
    </form>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Course</th>
          <th scope="col">Raiting</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(student, index) in students" :key="student.id" @dblclick="$data.student = student">
          <th scope="row">{{ index+1 }}</th>
          <td>{{ student.name }}</td>
          <td>{{ student.cource }}</td>
          <td>{{ student.raiting }}</td>
          <td>
            <button class="btn btn-outline-danger btn-sm mx-1" @click="deleteStudent(student)">x</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "ProjectComp",
  props: {
    msg: String
  },
  data() {
    return {
      student: {},
      errors: {},
      students: []
    };
  },
  created() {
    this.loadListStudents();
  },
  methods: {
    submitForm(){
      
      if(this.student.id === undefined){
        this.createStudent();
      }else{
        this.editStudent();
      }
    },

    async loadListStudents() {
      this.students = await fetch(
        `${this.$store.getters.getServerUrl}/students/`
      ).then(response => response.json());
      console.log(this.students);
    },

    async createStudent() {
      var newStudent = await fetch(`${this.$store.getters.getServerUrl}/students/`, {
        method: "post",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(this.student)
      }).then(resp => {
        let json = resp.json(); // there's always a body
        if (resp.status >= 200 && resp.status < 300) {
          return json.then(response => {this.students.push(response);  this.errors = '';});
        } else {
          return json.then(err => this.validationText(err));
        }
      }); 
    },

    async editStudent() {
      var newStudent = await fetch(`${this.$store.getters.getServerUrl}/students/${this.student.id}/`, {
        method: "put",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(this.student)
      }).then(resp => {
        let json = resp.json(); // there's always a body
        if (resp.status >= 200 && resp.status < 300) {
          return json;
        } else {
          return json.then(err => this.validationText(err));
        }
      });
      
      await this.loadListStudents();
      this.student = {};
    },

    async deleteStudent(student) {

      var newStudent = await fetch(`${this.$store.getters.getServerUrl}/students/${student.id}/`, {
        method: "delete",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(this.student)
      });
      
      await this.loadListStudents();

    },

    validationText(errors) {
      let currentObj = {};

      for (var key in errors) {
        currentObj[key] = errors[key][0];
      }
      this.errors = currentObj;
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
